<html>
    <head>
       <meta charset="utf-8">
        <!-- importer le fichier de style -->
        <link rel="stylesheet" href="style.css" media="screen" type="text/css" />
    </head>
    <body>
        <div>
          <h1>YES</h1>
            <!-- zone de connexion -->

            <form [formGroup]="loginFormGroup">
                <h1>Connexion</h1>

                <label><b>Email</b></label>
                <input [formControlName]="email" type="text" placeholder="Entrer votre adresse mail" name="username" required>
                <br>
                <label><b>Password</b></label>
                <input [formControlName]="password" ="password" placeholder="Entrer le mot de passe" name="password" required>
                <br>
                <input (click)="onSubmit()" type="button" value='LOGIN' >


            </form>
        </div>
    </body>
